<main>
	<div class="container">
		<ul class="expenses-index">
			<% @expenses.each do |expense| %>
				<li><%= link_to "#{expense.amount} |
										#{expense.category.name} |
										#{expense.created_at.strftime('%F')}",
										"/expenses/#{expense.id}/edit" %></li>
			<% end %>
		</ul>
	</div>
</main>