<main>
	<div class="container">
		<%= form_tag '/expenses/create/' do %>
		<label for="amount"></label>
		<input type="number" name="amount" id="amout">
		<input type="submit" value="Submit">
		<% end %>
	</div>
</main>